@media (max-width: 940px)  {
    .blog-main-container{
        grid-template-columns: 1fr;
        grid-template-rows: 3fr;
        min-width: 320px;
        /* max-width: 1300px; */
    }
    .blog-post-container .post-container{
        max-width: 45%;
    }
}
@media (max-width: 670px){
    .blog-post-container .post-container{
        max-width: 90%;
        
    }
}
@media (max-width: 470px){
    .blog-post-container .post-container{
        max-width: 90%;
        
    }
}

/* profile */
@media (max-width: 900px) {
    .profile-main-container{
        grid-template-columns: 1fr;
        grid-template-rows: 3fr;
        min-width: 320px;
        
    }
    
}
/* 
blog */

@media (max-width: 600px) {
    .contact-main-container{
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
    }
    
}
/* index */
@media (max-width: 526px) {

    .home-main-title{
        font-size: 1.4rem;
        letter-spacing: 5px;
        font-weight: 300;
    }
    header .header-container-icons{
        display: grid;
        justify-content: flex-start;
    }


}
